@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Righteous Regular';
    src: url('../Fonts/Righteous-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Quicksand Light';
    src: url('../Fonts/Quicksand-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }