@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Righteous Regular';
    src: url('../Fonts/Righteous-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Quicksand Light';
    src: url('../Fonts/Quicksand-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'Snippet Regular';
    src: url('../Fonts/Snippet-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSans Bold';
    src: url('../Fonts/IBMPlexSans-Bold.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSans Regular';
    src: url('../Fonts/IBMPlexSans-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSans Light';
    src: url('../Fonts/IBMPlexSans-Light.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSans Medium';
    src: url('../Fonts/IBMPlexSans-Medium.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSans SemiBold';
    src: url('../Fonts/IBMPlexSans-SemiBold.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'ReemKufiFun Medium';
    src: url('../Fonts/ReemKufiFun-Medium.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'ReemKufiFun Regular';
    src: url('../Fonts/ReemKufiFun-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'ReemKufiFun SemiBold';
    src: url('../Fonts/ReemKufiFun-SemiBold.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'PublicSans Bold';
    src: url('../Fonts/PublicSans-Bold.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans Light';
    src: url('../Fonts/PublicSans-Light.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans Medium';
    src: url('../Fonts/PublicSans-Medium.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans Regular';
    src: url('../Fonts/PublicSans-Regular.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans SemiBold';
    src: url('../Fonts/PublicSans-SemiBold.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans Thin';
    src: url('../Fonts/PublicSans-Thin.ttf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Outfit Medium';
    src: url('../Fonts/Outfit-Medium.ttf') format('opentype');
    font-style: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit Regular';
    src: url('../Fonts/Outfit-Regular.ttf') format('opentype');
    font-style: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit SemiBold';
    src: url('../Fonts/Outfit-SemiBold.ttf') format('opentype');
    font-style: 400;
    font-style: normal;
}

  ::-webkit-scrollbar{
    display: none;
  }