@keyframes rotateCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateCircleReverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .animate-rotateCircle {
    animation: rotateCircle 7s linear infinite;
  }
  
  .animate-rotateCircleReverse {
    animation: rotateCircleReverse 7s linear infinite;
  }
  